# Databases with Python
1. SQLite3 [[Notebook]](01_sqlite.ipynb)
2. Postgres [[Notebook]](02_postgres.ipynb)
3. **SQL Server** [[Notebook]](03_sqlserver.ipynb)

## SQL Server & Pyodbc
Implement CRUD operations with Pyodbc prepared by [Joseph Konka](https://www.linkedin.com/in/joseph-koami-konka/)

## Prerequisites
* SQL Server
* ODBC Driver for SQL Server
* Pyodbc

### 1. Install SQL Server
1. Téléchargemnt

2. Installation

3. Démarrage

### 2. Install ODBC Driver for SQL Server
1. Téléchargemnt

2. Installation

3. Démarrage

### 3. Install Pyodbc
```bash
$ pip install -q pyodbc
```

### 4. Create a Postgres database

    $ sudo su postgres

Postgres

```sql
# CREATE DATABASE suppliers;
```

## Packages

In [1]:
# !pip install -q pyodbc
# !pip install -q pandas

import pyodbc
import pandas as pd

## Paths & Config

In [2]:
HOST = 'localhost'
DATABASE = 'algojungle'

## Connection to database

In [3]:
conn = pyodbc.connect('Driver={SQL Server};'
                      f'Server={HOST};'
                      f'Database={DATABASE};'
                      'Trusted_Connection=yes;')

In [4]:
# Create a cursor
cur = conn.cursor()

## Interaction with database

### 0. Create a table

In [5]:
sql1 = "DROP TABLE IF EXISTS customers;";

sql2 = """
CREATE TABLE customers
(
    DepartmentID INTEGER PRIMARY KEY NOT NULL,
    Name VARCHAR(100),
    GroupName VARCHAR(100)
);
"""

cur.execute(sql1)
cur.execute(sql2)

conn.commit()

### 1. CREATE : Insert data

In [6]:
sql3 = """
INSERT INTO customers (DepartmentID, Name, GroupName) 
VALUES (1, 'Engineering', 'Research and Development'),
(2, 'Tool Design', 'Research and Development'),
(3, 'Sales', 'Sales and Marketing'),
(4, 'Marketing', 'Sales and Marketing'),
(5, 'Purchasing', 'Inventory Management'),
(6, 'Research and Development', 'Research and Development'),
(7, 'Production', 'Manufacturing'),
(8, 'Production Control', 'Manufacturing'),
(9, 'Human Resources', 'Executive General and Administration'),
(10, 'Finance', 'Executive General and Administration'),
(11, 'Information Services', 'Executive General and Administration'),
(12, 'Document Control', 'Quality Assurance'),
(13, 'Quality Assurance', 'Quality Assurance'),
(14, 'Facilities and Maintenance', 'Executive General and Administration'),
(15, 'Shipping and Receiving', 'Inventory Management'),
(16, 'Executive', 'Executive General and Administration');
"""

conn.execute(sql3)

conn.commit()

### 2. READ : Read data

In [8]:
sql4 = "SELECT * FROM customers;"

cur.execute(sql4)
results = pd.DataFrame(cur.fetchall(), 
                       # columns=[desc[0] for desc in cur.description]
                      )
results

                                                    0
0          [1, Engineering, Research and Development]
1          [2, Tool Design, Research and Development]
2                     [3, Sales, Sales and Marketing]
3                 [4, Marketing, Sales and Marketing]
4               [5, Purchasing, Inventory Management]
5   [6, Research and Development, Research and Dev...
6                      [7, Production, Manufacturing]
7              [8, Production Control, Manufacturing]
8   [9, Human Resources, Executive General and Adm...
9   [10, Finance, Executive General and Administra...
10  [11, Information Services, Executive General a...
11          [12, Document Control, Quality Assurance]
12         [13, Quality Assurance, Quality Assurance]
13  [14, Facilities and Maintenance, Executive Gen...
14  [15, Shipping and Receiving, Inventory Managem...
15  [16, Executive, Executive General and Administ...

### 3. UPDATE : Update table

In [ ]:
sql5 = """
UPDATE customers 
SET name = 'Joseph Koami Konka' 
WHERE id = 1;
"""

cur.execute(sql5)

conn.commit()

cur.execute(sql4)
results = pd.DataFrame(cur.fetchall(), 
                       columns=[desc[0] for desc in cur.description])
results

### 4. DELETE : Delete data

In [ ]:
sql6 = """
DELETE FROM customers 
WHERE id = 1;
"""

cur.execute(sql6)

conn.commit()

cur.execute(sql4)
results = pd.DataFrame(cur.fetchall(), 
                       columns=[desc[0] for desc in cur.description])
results

## Close connection

In [ ]:
# close the communication with the SQL Server
cur.close()
conn.close()
print('Database connection closed.')

## References
* SQL Server: https://www.postgresql.org/download/
* Pyodbc: https://www.psycopg.org/docs/install.html

## Let's get in touch
[![Github Badge](https://img.shields.io/badge/-Github-000?style=flat-square&logo=Github&logoColor=white&link=https://github.com/joekakone)](https://github.com/joekakone) [![Linkedin Badge](https://img.shields.io/badge/-LinkedIn-blue?style=flat-square&logo=Linkedin&logoColor=white&link=https://www.linkedin.com/in/joseph-koami-konka/)](https://www.linkedin.com/in/joseph-koami-konka/) [![Twitter Badge](https://img.shields.io/badge/-Twitter-blue?style=flat-square&logo=Twitter&logoColor=white&link=https://www.twitter.com/joekakone)](https://www.twitter.com/joekakone) [![Gmail Badge](https://img.shields.io/badge/-Gmail-c14438?style=flat-square&logo=Gmail&logoColor=white&link=mailto:joseph.kakone@gmail.com)](mailto:joseph.kakone@gmail.com)