# Databases with Python
1. SQLite3 [[Notebook]](01_sqlite.ipynb)
2. Postgres [[Notebook]](02_postgres.ipynb)
3. SQL Server [[Notebook]](03_sqlserver.ipynb)
4. **Pandas** [[Notebook]](04_pandas.ipynb)

## Get Data using Pandas
Retreive data from Postgres using Pandas prepared by [Joseph Konka](https://www.linkedin.com/in/joseph-koami-konka/)

## Packages

In [1]:
# !pip install -q psycopg2-binary
# !pip install -q pandas

from getpass import getpass

import psycopg2
import pandas as pd

## Paths & Config

In [2]:
HOST = 'localhost'
DATABASE = 'algojungle'
USER = 'postgres'

## Connection to database

In [3]:
PASSWORD = getpass("Enter Password: ")

conn = psycopg2.connect(host=HOST, 
                        database=DATABASE, 
                        user=USER, 
                        password=PASSWORD)

Enter Password:  ········

## Interaction with database using Pandas

### Read table

In [4]:
sql = "SELECT * FROM customers;"

results = pd.read_sql(sql, conn)
results

,departmentid,name,groupname
0,1,Engineering,Research and Development
1,2,Tool Design,Research and Development
2,3,Sales,Sales and Marketing
3,4,Marketing,Sales and Marketing
4,5,Purchasing,Inventory Management
5,6,Research and Development,Research and Development
6,7,Production,Manufacturing
7,8,Production Control,Manufacturing
8,9,Human Resources,Executive General and Administration
9,10,Finance,Executive General and Administration
10,11,Information Services,Executive General and Administration
11,12,Document Control,Quality Assurance
12,13,Quality Assurance,Quality Assurance
13,14,Facilities and Maintenance,Executive General and Administration
14,15,Shipping and Receiving,Inventory Management
15,16,Executive,Executive General and Administration

### Filter table

In [5]:
sql = "SELECT * FROM customers WHERE departmentid >= 10;"

results = pd.read_sql(sql, conn)
results

,departmentid,name,groupname
0,10,Finance,Executive General and Administration
1,11,Information Services,Executive General and Administration
2,12,Document Control,Quality Assurance
3,13,Quality Assurance,Quality Assurance
4,14,Facilities and Maintenance,Executive General and Administration
5,15,Shipping and Receiving,Inventory Management
6,16,Executive,Executive General and Administration

### Order table

In [6]:
sql = "SELECT * FROM customers WHERE name like '%ance' ORDER BY name;"

results = pd.read_sql(sql, conn)
results

,departmentid,name,groupname
0,14,Facilities and Maintenance,Executive General and Administration
1,10,Finance,Executive General and Administration
2,13,Quality Assurance,Quality Assurance

## Close connection

In [7]:
# close the communication with the PostgreSQL
conn.close()
print('Database connection closed.')

Database connection closed.

## References
* Postgres: https://www.postgresql.org/download/
* Pysycopg Docs: https://www.psycopg.org/docs/install.html

## Let's get in touch
[![Github Badge](https://img.shields.io/badge/-Github-000?style=flat-square&logo=Github&logoColor=white&link=https://github.com/joekakone)](https://github.com/joekakone) [![Linkedin Badge](https://img.shields.io/badge/-LinkedIn-blue?style=flat-square&logo=Linkedin&logoColor=white&link=https://www.linkedin.com/in/joseph-koami-konka/)](https://www.linkedin.com/in/joseph-koami-konka/) [![Twitter Badge](https://img.shields.io/badge/-Twitter-blue?style=flat-square&logo=Twitter&logoColor=white&link=https://www.twitter.com/joekakone)](https://www.twitter.com/joekakone) [![Gmail Badge](https://img.shields.io/badge/-Gmail-c14438?style=flat-square&logo=Gmail&logoColor=white&link=mailto:joseph.kakone@gmail.com)](mailto:joseph.kakone@gmail.com)